<br>
<p>
  <strong>Todo_desc:</strong>
  <%= todoitem.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= todoitem.date %>
</p>

<p>
  <strong>Due_time:</strong>
  <%= todoitem.due_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= todoitem.status %>
</p>

<p>
  <%= link_to 'Destroy Todoitem', [todoitem.user, todoitem],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>

<br><br><br><br>