<p id="notice"><%= notice %></p>

<h1>Todoitems</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Date</th>
      <th>Due time</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todoitems.each do |todoitem| %>
      <tr>
        <td><%= todoitem.description %></td>
        <td><%= todoitem.date %></td>
        <td><%= todoitem.due_time %></td>
        <td><%= todoitem.status %></td>
        <td><%= link_to 'Show', todoitem %></td>
        <td><%= link_to 'Edit', edit_todoitem_path(todoitem) %></td>
        <td><%= link_to 'Destroy', todoitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todoitem', new_todoitem_path %>
