<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @todoitem.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @todoitem.date %>
</p>

<p>
  <strong>Due time:</strong>
  <%= @todoitem.due_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @todoitem.status %>
</p>

<%= link_to 'Edit', edit_todoitem_path(@todoitem) %> |
<%= link_to 'Back', todoitems_path %>
