<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.email %>
</p><br>
<%= link_to 'Change Pwd', edit_user_path(@user) %> |
<%= link_to 'Home page', root_url %>

<br><br>
<h2>Todo List</h2>
<%= render @user.todoitems %>
<br>
<h4>Add a todoitem:</h4>
<%= render 'todoitems/form' %>


