<h1>Welcome to Todo List Page</h1>
<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %><br><br><br><br>
  <%= link_to "Show todolist", 'users/'+ current_user.id.to_s %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or 
  <%= link_to "Log In", login_path %>
<% end %>
<p id="notice"><%= notice %></p>

